@import '../../styles/style.scss';

.banner {
  background: url('../../assets/images/main-bg.png') no-repeat;
  background-position: 50%;

  @include mobile {
    background: url('../../assets/images/main-bg-mob.png') no-repeat;
    background-size: cover;
  }

  &__content {
    position: relative;
    padding-top: 210px;
    padding-bottom: 184px;

    @include tablet {
      padding-top: 145px;
      padding-bottom: 120px;
    }

    @include mobile {
      padding-top: 15px;
      padding-bottom: 0;
    }
  }

  &__title {
    text-transform: uppercase;

    @include mobile {
      position: absolute;
      min-width: 318px;
      bottom: -45px;
      left: 50%;
      transform: translateX(-50%);
    }

    & span {
      display: inline-block;
      font-size: Clamp(24px, 3.5vw, 48px);
      font-weight: 700;
      padding: 12px 18px;

      @include mobile {
        padding: 8px 12px;
      }
    }

    &_result {
      background: $lightPurple;
      color: $white;
      border-radius: 8px 8px 8px 0;
    }

    &_term {
      background: $white;
      color: $lightPurple;
      border-radius: 0 0 8px 8px;

      @include mobile {
        background: $lightPurpleGradient;
      }
    }
  }

  &__img {
    position: absolute;
    right: 10%;
    bottom: 0;

    @include tablet {
      width: 32%;
    }

    @include mobile {
      display: block;
      width: 52.9%;
      position: static;
      margin: 0 auto;
    }
  }
}