@import '../../styles/style.scss';
.button {
  border: none;
  border-radius: 8px;
  background: $lightPurple;
  color: $white;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  line-height: 1.4;
  @include regularText(rem(21));
  @include mobile {
    font-size: rem(18);
  }
  & img {
    margin-left: 10px;
  }
}