@mixin desktop {
  @media all and (max-width: 1920px) {
    @content;
  }
}

@mixin notebook {
  @media all and (max-width: 1448px) {
    @content;
  }
}

@mixin netbook {
  @media all and (max-width: 1270px) {
    @content;
  }
}

@mixin tablet {
  @media all and (max-width: 1063px) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: 768px) {
    @content;
  }
}

@mixin regularText($fontSize) {
  font-family: "Montserrat", sans-serif;
  font-size: $fontSize;
  font-weight: 400;
}

@mixin sectionTitle ($fontSize) {
  font-family: "Montserrat", sans-serif;
  font-size: $fontSize;
  font-weight: 600;
}