$white:rgba(255, 255, 255, 1);
$black:rgba(0, 0, 0, 1);
$purple:rgba(79, 88, 201, 1);
$lightPurple: rgba(115, 123, 225, 1);
$lightPurpleGradient: linear-gradient(0deg, #E9EAF9 0%, #F5F5FF 100%);
$darkGrey:rgba(76, 76, 76, 1);