@import '../../styles/style.scss';

.footer {
  background: $purple;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60.5px;
    padding-bottom: 60.5px;
    @include mobile {
      flex-direction: column-reverse;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &__text {
    @include regularText(rem(16));
    color: $white;
    @include mobile {
      margin-top: 18px;
      text-align: center;
      font-size: rem(12);
    }
    & br {
      display: none;
      @include mobile {
        display: block;
      }
    }
  }
}