@import '../../styles/style.scss';

.response{
  background: $lightPurpleGradient;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 192.5px;
    padding-bottom: 192.5px;
    @include mobile {
      flex-direction: column;
      text-align: center;
      padding-top: 209px;
      padding-bottom: 209px;
    }
  }

  &__text {
    @include sectionTitle(rem(24));
    color: $lightPurple;
    margin-left: 24px;
    @include mobile {
      margin-top: 24px;
      margin-left: unset;
    }
    & br {
      @include mobile{
        display: none;
      }
    }
  }
}