@import "./styles/style";

.main {
  background: $white;
}

.welcome {
  padding-top: 96px;
  padding-bottom: 96px;

  @include mobile {
    padding-top: 75px;
    padding-bottom: 30px;
  }

  &__text {
    font-size: rem(24);
    font-style: italic;
    font-weight: 600;
    text-align: center;
    color: $black;

    @include mobile {
      font-size: rem(18);
    }
  }
}
